body{
    background-color: black;
    color: white;
    
}
p{
   text-align: center;
   padding-left: 20em;
   

   
  
}

.container{
 font-size: 25px;
 color: black;
 
}

#frm{
    background-color: white;
    
} 
